* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-page-container {
  border: 3px solid saddlebrown;
  width: 100%;
  height: 100vh;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background: black;
  z-index: 99;
  opacity: 0.7;
  display: none;
}
.overlay.open {
  display: block;
}
nav {
  background: blue;
}
.user-table-sec {
  border: 2px solid green;
  height: 80%;
  position: relative;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  visibility: hidden;
}

.add-user-form.open {
  visibility: visible;
}
