* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-page-container {
  border: 3px solid saddlebrown;
  width: 100%;
  height: 100vh;
}
nav {
  background: blue;
  height: 20px;
}

.pagination-container {
  display: flex;
  max-width: 300px;
  border: 2px solid red;
  justify-content: space-between;
  list-style: none;
}
