* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hide {
  display: none;
}
.sub-table-sec {
  overflow: auto;
  height: 85%;
  width: 80%;
  margin: auto;
}
.paginater-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}
table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
table td {
  padding: 10px;
  border: 1px solid black;
}
table th {
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 15px;
  background-color: mediumslateblue;
  color: #fff;
  border: 1px solid black;
}
.edit-form,
.remove-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  visibility: hidden;
}
.edit-form.open,
.remove-form.open {
  visibility: visible;
}
.edit-form {
  padding: 20px 40px;
  width: 350px;
  border-radius: 8px;
  background: #fff;
  border: 0;
}
.edit-form .heading-sec {
  text-align: center;
}
.edit-form .heading-sec h1 {
  font-size: 1.8rem;
  color: black;
}
.edit-form input {
  font-size: 0.9rem;
  padding: 11px 10px;
  border: 1px solid mediumslateblue;
  border-radius: 4px;
}
.edit-form input[type="text"] {
  font-size: 1rem;
  color: black;
}
.edit-form input::placeholder {
  font-size: 1rem;
}
.edit-form input:focus {
  outline: 2px solid mediumslateblue;
}
.edit-form p {
  margin-top: 20px;
  color: red;
}
.edit-form label {
  position: relative;
}
.edit-form label input {
  width: 100%;
}
.edit-form label button {
  font-size: 1.2rem;
  border: 0;
  background: none;
  cursor: pointer;
}
.edit-form label button {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.form-footer-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.edit-form .form-footer-sec p {
  margin-top: 0px;
}
.edit-form .form-footer-sec .save-btn {
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: 900;
  background-color: mediumslateblue;
  border: 0;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.edit-form .save-btn:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in;
}

table tbody .manage-sec {
  text-align: center;
}
.view-details-sec {
  text-align: center;
}
table tbody .edit-btn {
  border: 0;
  padding: 5px;
  background: none;
  cursor: pointer;
  transform: translateX(-20px);
}

table tbody .edit-btn span {
  color: rgb(97, 97, 255);
}
table tbody .edit-btn:hover {
  transform: translateX(-20px) scale(1.1);
  transition: transform 0.1s ease-in;
  opacity: 0.6;
}
table tbody .delete-btn {
  border: 0;
  padding: 5px;
  background: none;
  cursor: pointer;
  transform: translateX(20px);
}

table tbody .delete-btn span {
  color: red;
}

table tbody .delete-btn:hover {
  transform: translateX(20px) scale(1.1);
  transition: transform 0.1s ease-in;
  opacity: 0.6;
}

table tbody .recharge-history-btn,
table tbody .expense-history-btn {
  padding: 8px 8px;
  border: 0;
  color: #fff;
  background: rgb(97, 97, 255);
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

table tbody .recharge-history-btn {
  transform: translateX(-20px);
}
table tbody .expense-history-btn {
  transform: translateX(20px);
}
table tbody .recharge-history-btn:hover {
  transform: translateX(-20px) scale(1.1);
  transition: transform 0.1s ease-in;
}

table tbody .expense-history-btn:hover {
  transform: translateX(20px) scale(1.1);
  transition: transform 0.1s ease-in;
}

@media screen and (max-width: 1700px) {
  table tbody .edit-btn {
    transform: translateX(-9px);
  }
  table tbody .delete-btn {
    transform: translateX(9px);
  }
  table tbody .recharge-history-btn {
    transform: translateX(-9px);
  }
  table tbody .expense-history-btn {
    transform: translateX(9px);
  }
}
@media screen and (max-width: 1300px) {
  table th {
    padding: 10px;
  }

  table td {
    padding: 5px;
  }
}

@media screen and (max-width: 1200px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin: 0 0 1rem 0;
    overflow: auto;
  }

  tbody tr:before {
    counter-increment: my-sec-counter;
    content: "";
    display: block;
    height: 1px;
  }

  td {
    border: none;
    margin-right: 0%;

    box-sizing: border-box;
  }

  td:before {
    font-weight: bold;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-left: 5px;
    color: mediumslateblue;
    font-size: 1rem;
  }

  td:nth-of-type(1):before {
    content: "Sl. NO.";
    color: #fff;
  }
  td:nth-of-type(2):before {
    content: "RFID NO.";
  }
  td:nth-of-type(3):before {
    content: "Name";
  }
  td:nth-of-type(4):before {
    content: "Roll Number";
  }
  td:nth-of-type(5):before {
    content: "Balance";
  }
  table tbody .manage-sec {
    display: flex;
  }
  table tbody .slno {
    background: mediumslateblue;
    color: #fff;
  }
  table tbody .manage-sec {
    float: left;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
  }
  .view-details-sec {
    display: flex;
    width: 70%;
    padding: 8px;
    justify-content: space-evenly;
  }
  table tbody .edit-btn {
    transform: translateX(0px);
  }
  table tbody .delete-btn {
    transform: translateX(0px);
  }
  table tbody .recharge-history-btn {
    transform: translateX(0px);
  }
  table tbody .expense-history-btn {
    transform: translateX(0px);
  }
}

/* progressbar css */
.form-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 8px;
  opacity: 0.3;
  z-index: 30;
  display: none;
  border: 0;
}
.form-overlay.open {
  display: block;
}
.progress-bar {
  height: 4px;
  background: transparent;
  width: 95%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 2%;
  z-index: 31;
  border: 0;
  border-radius: 4px;
  visibility: hidden;
}
.progress-bar.open {
  visibility: visible;
}
.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: mediumslateblue;
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
  border-radius: 8px;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
